<div class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen">
      <div class="w-full bg-white rounded-lg shadow sm:max-w-md">
          <div class="p-8 space-y-6">
              <h1 class="text-2xl font-bold text-gray-900">
                  LOGIN
              </h1>
              <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="login()">
                  <div>
                      <label for="usernameOrEmail" class="block mb-2 text-sm font-medium text-gray-900">Username or Email</label>
                      <input type="text" formControlName="usernameOrEmail" id="usernameOrEmail" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg  block w-full p-2.5" placeholder="name@email.com" required="">
                  </div>
                  
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                      <input type="password" formControlName="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg  block w-full p-2.5" required="">
                  </div>
                  
                  <button type="submit" class="w-full text-white   bg-stone-900 hover:bg-stone-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Login</button>
                  <p class="text-sm font-light text-gray-500">
                      Don’t have an account yet? <a [routerLink]="['/register']" class="font-medium text-primary-600 hover:underline">Register</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</div>